body{
    text-align: center;
}
header{
    background-image: url("/assets/backgrounds/bg2.jpg");
    background-size: cover;
    color: white;
    height: 780px;
}
.header-content{
    padding-top: 225px;
}
.header-content h1{
    padding-top: 30px;
    margin-top: 10px;
    font-size: 45px;
}
.header-content p{
    font-size: 14px;
}
.mouse-click{
    padding-top: 150px;
}


.about-us{
    margin: 50px 160px;
}
.about-us p{
    padding-top: 2px;
}


.services{
    background-image: url("/assets/backgrounds/bg3.jpg");
    background-size: cover;
    color: white;
    padding: 120px 0;
}

.work{
    padding-top: 50px;
}
.work-logo{
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}