
body{
    text-align: center;
}
header{
    background-image: url("/assets/backgrounds/bg2.jpg");
    background-size: cover;
    color: white;
    height: 780px;
}
.header-content{
    padding-top: 225px;
}
.header-content h1{
    padding-top: 30px;
    font-size: 45px;
}
.header-content p{
    font-size: 14px;
}
.mouse-click{
    padding-top: 150px;
}


.about-us{
    margin: 50px 160px;
}
.about-us p{
    padding-top: 2px;
}


.services{
    background-image: url("/assets/backgrounds/bg3.jpg");
    background-size: cover;
    color: white;
    padding: 120px 0;
}

.work{
    padding-top: 50px;
}
.work-logo{
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}
.logo-devpt{
    padding-left: 100px;
}
.portfolio{
    margin: 0 150px;
}
.portfolio-work{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.portfolio-image img{
    height: 230px;
    width: 250px;
    padding: 20px 5px;
}

.contacts{
    background-image: url("/assets/backgrounds/background1.jpg");
    background-size: cover;
    padding: 40px 0 90px 0;
    margin-top: 50px;
    color: white;
}
.form-control{
    display: inline;
    background-color: transparent;
    border: 1px solid white;
    margin: 20px 10px;
    width: 360px;
}
#message{
    width: 700px;
    margin-left: 50px;
}
#message::placeholder,#name::placeholder,#email::placeholder{
    color: white;
    padding: 7px;
}

.socials{
    padding: 40px;
}
.socials img{
    padding: 0 10px;
}
.footer p{
    margin-top: -15px;
}

@media only screen and (max-width:600px) {
   
    .header-content{
        padding-top: 150px;
    }
    .header-content h1{
        padding-top: 30px;
       
    }
    .mouse-click{
        padding-top: 250px;
    }


    .about-us{
        margin: 20px 10px ;
        font-size: 15px;
    }
    .about-us h3{
        font-size: 20px;
    }
    .services{
        padding: 20px 0;
    }
    .services p{
        font-size: 15px;
        margin: 5px 10px;
    }
    .work{
        padding-top: 10px;
    }
   .work-logo{
      display: block;
   }
   .logo-devpt{
    padding-left: 0;
    }
    .contacts{
        padding: 10px 0 5px 0;
    }
    .contacts h3{
        font-size: 20px;
    }
    .form-control{
        margin: 5px 10px;
        width: 150px;
        height: 20px;
    }
    #message{
        width: 300px;
        margin-left: 0;
    }
    #message::placeholder,#name::placeholder,#email::placeholder{
        font-size: 10px;
        padding: 2px;
    }
    .btn{
        font-size: 8px;
        padding: 2px;
    }
    .socials{
        padding: 15px;
    }
    .socials img{
        padding: 5px;
        height: 35px;
    }
    .footer p{
        margin-top: -15px;
        font-size: 10px;
    }
}